:root {
  --black: #0B0C10;
  --darkgray: #1F2833;
  --lightgray: #C5C6C7;
  --lightgreen: #66FCF1;
  --darkgreen: #45A29E;
  --white: #fff;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.App {
  width: 600px;
  margin: 0px auto;
}

.App-Title {
  color: var(--lightgreen);
  margin: 1px 0;
}

.App-header {
  text-align: center;
}

.search--form {
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.search--form input[type='text'] {
  background: none;
  border: none;
  border-bottom: 3px solid var(--lightgreen);
  color: var(--lightgreen);
  padding: 5px;
  flex: 1;
  font-size: 28px;
}

button {
  display: inline;
  color: var(--lightgreen);
  background: none;
  border: none;
  font-size: 20px;
}

.search--list {
  background: var(--darkgray);
  margin: 20px 0;
  border-bottom: 1px solid var(--lightgreen);
  padding: 10px 0 10px 0;
}

.search--results {
  display: flex;
  flex-direction: column;
  height: 40vh;
  overflow: auto;
}

.foodlog--list-item {
  padding: 5px;
  border-bottom: 1px solid #333;
  font-size: 22px;
  cursor: pointer;
}

.foodlog--list-item:hover {
  background: var(--lightgreen);
  color: var(--darkgray);
}

.foodlog--list-item .food-name {
  font-size: 20px;
}

.foodlog--list-item .food-brand {
  font-size: 11px;
  color: var(--lightgray);
}

.action button {
  background: none;
  color: var(--lightgreen);
  font-size: 25px;
}

.action button:hover {
  color: var(--darkgreen);
}

.foodlog--layout {
  display: flex;
  flex-direction: column;
}

.foodlog--details {
  font-size: 20px;
  padding: 10px;
}

.foodlog-name {
  padding: 0px;
  margin: 0px;
}

.foodlog--title {
  display: flex;
  flex-direction: row;
  margin: 0 5px 5px 5px;
}

.foodlog--title a {
  display: block;
  flex: 1;
  color: var(--lightgreen);
  text-decoration: none;
}

.foodlog--title a:hover {
  color: var(--darkgreen);
}

.foodlog--title h3 {
  margin: 0;
}

.loading {
  width: 120px;
  height: 120px;
  border: none;
  border-top: 5px solid var(--lightgreen);
  border-bottom: 5px solid var(--lightgreen);
  border-radius: 50%;
  margin: 50px auto 50px auto;
  animation: spinner 1s linear infinite;
}

.pagination {
  display: flex;
  flex-direction: row;
  margin: 5px auto 20px auto;
  padding: 3px;
  justify-content: center;
}

.pagination div {
  margin: 0px 5px;
  padding: 3px;
  cursor: pointer;
}

.pagination div:hover {
  color: var(--lightgreen);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(45deg) scale(0.8);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.no-modal {
  display: none;
}

.modal-form {
  position: fixed;
  background: rgb(68, 68, 68);
  height: auto;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 5px;
  font-size: 22px;
}

.meals {
  display: flex;
  flex-direction: column;
}

.mealtime {
  display: block;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 5px;
  margin: 10px 1px 1px 1px;
  font-weight: bold;
}

.mealtime:hover {
  background-color: var(--lightgreen);
}

.food-list {
  margin: 0 0 0 20px;
}

.food-item {
  padding: 3px;
}

.food-item:hover {
  background: var(--lightgray);
}
